<launch>

    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="L_a" type="double" value="0.18" />
    <param name="L_b" type="double" value="0.14" />
    <param name="r_tire" type="double" value="0.05" />
    <param name="psio_gps" type="double" value="236.5" />
    <param name="sim_mode" type="bool" value="true" />

    <!-- OBSERVER-->
    <node pkg="barc" type="state_estimation_KinBkMdl.py" name="state_estimation" output="screen">
        <!-- v_x estimation sample time-->
        <param name="dt_v_enc" type="double" value="0.2" />

        <!-- ekf properties -->
        <param name="q_std" type="double" value="0.1" />
        <param name="r_std" type="double" value="0.1" />

        <!-- measurement model type -->
        <param name="est_mode" type="int" value="1" />
    </node>

    <!-- Record the experiment data -->
    <node pkg="rosbag" type="record" name="rosbag_record" args="-o /home/david/simulations/sim_est_KinBkMdl -a" />

    <!-- USE ROSBAG PLAY ... TO REPUBLISH THE RECORDED SENSOR DATA TwentyfiveThree.bag (or other)-->
    <node pkg="rosbag" type="play" name="play_rec_sensor_data" required="true" args="/home/david/simulations/sim_sensor_data/FifteenThreePihalf.bag -d 1" />

</launch>