<launch>

    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="L_a" type="double" value="0.18" />
    <param name="L_b" type="double" value="0.14" />
    <param name="r_tire" type="double" value="0.05" />
    <param name="psio_gps" type="double" value="80.0" />
    <param name="sim_mode" type="bool" value="False" />


    <!-- SIMULATOR -->
    <node pkg="barc" type="vehicle_simulator.py" name="vehicle_simulator" output="screen"/>

    <!-- OBSERVER-->
    <node pkg="barc" type="state_estimation_KinBkMdl.py" name="state_estimation" output="screen">
        <!-- v_x estimation sample time-->
        <param name="dt_v_enc" type="double" value="0.2" />

        <!-- ekf properties -->
        <param name="q_std" type="double" value="0.1" />
        <param name="r_std" type="double" value="0.1" />

        <!-- measurement model type -->
        <param name="est_mode" type="int" value="1" />
    </node>

    <!-- LOW LEVEL CONTROLLER -->
    <node pkg="barc" type="controller_low_level.py" name="low_level_controller" output="screen"/>

    <!-- MPC CONTROLLER -->
    <node pkg="barc" type="controller_MPC_traj.jl" name="MPC" output="screen"/>

    <!-- Record the experiment data -->
    <node pkg="rosbag" type="record" name="rosbag_record" args="-o /home/david/simulations/sim_follow_traj -a" />

</launch>
